<div class="newsletter bg-blue">
    <div class="newsletter-block p-5 max-w-[700px] mx-auto text-center">
     <ul class="flex items-center">
        <li class=" flex justify-center flex-col mr-6">
            <span class="text-center"> <img class="inline-block" src="images/icon-mid1.svg" alt="" /></span>
            <a class="rounded-2xl bg-white text-black px-8 -mt-2 py-4 text-center" href="#">Get a 60-second Instant valuation</a>  </li>
        <li class=" flex justify-center flex-col">
                        <span class="text-center"> <img class="inline-block" src="images/icon-mid2.svg" alt="" /></span>

            <a class="rounded-2xl bg-white text-black px-8 py-4 text-center -mt-2" href="#">Get a 60-second Instant valuation</a>  </li>

     </ul>
    </div>
</div>

<footer class="site-footer py-5 bg-footerbg">
    <div class="px-5 lg:px-10 max-w-[1280px] mx-auto">
        <div class="footer-middle grid grid-cols-1 lg:grid-cols-2 gap-[50px] text-center py-[25px] border-b border-lightBorder">
            <div class="social-media">
                <h4 class="light mb-2.5">Join the conversation</h4>
                <ul class="flex flex-wrap items-center justify-center">
                    <li class="mx-2.5"><a href="#"><img class="w-6 h-6 transition-all transform hover:scale-[1.09]" src="images/facebook.svg" alt="facebook" width="24" height="24"></a></li>
                    <li class="mx-2.5"><a href="#"><img class="w-6 h-6 transition-all transform hover:scale-[1.09]" src="images/instagram.svg" alt="instagram" width="24" height="24"></a></li>
                    <li class="mx-2.5"><a href="#"><img class="w-6 h-6 transition-all transform hover:scale-[1.09]" src="images/pinterest.svg" alt="pinterest" width="24" height="24"></a></li>
                    <li class="mx-2.5"><a href="#"><img class="w-6 h-6 transition-all transform hover:scale-[1.09]" src="images/twitter.svg" alt="twitter" width="24" height="24"></a></li>
                    <li class="mx-2.5"><a href="#"><img class="w-6 h-6 transition-all transform hover:scale-[1.09]" src="images/youtube.svg" alt="youtube" width="24" height="24"></a></li>
                </ul>
            </div>
            <div class="app-link text-center">
                <h4 class="light mb-2.5">Shop anywhere, anytime with our app</h4>
                <div class="flex items-center justify-center w-full">
                    <a href="#"><img class="w-[110px]" src="images/appstore.svg" alt="appstore" width="110" height="34"></a>
                    <a class="ml-2.5" href="#"><img class="w-[110px]" src="images/googleplay.svg" alt="googleplay" width="110" height="34"></a>
                </div>
            </div>
        </div>
        <div class="cards flex items-center justify-center py-[25px]">
            <img class="w-10 ml-0.5 mr-2" src="images/visa.svg" alt="" width="40" height="25">
            <img class="w-10 ml-0.5 mr-2" src="images/electron.svg" alt="" width="40" height="25">
            <img class="w-10 ml-0.5 mr-2" src="images/mastercard.svg" alt="" width="40" height="25">
            <img class="w-10 ml-0.5 mr-2" src="images/maestro.svg" alt="" width="40" height="25">
            <img class="w-10 ml-0.5 mr-2" src="images/paypal.svg" alt="" width="40" height="25">
            <img class="w-10 ml-0.5 mr-0.5" src="images/applepay.svg" alt="" width="40" height="25">
        </div>
        <div class="copyright text-center w-full text-[13px] leading-none">© 2022 M&amp;Co </div>
    </div>
</footer>
<div id="menu-overlay" class="menu-overlay fixed top-0 left-0 bottom-0 right-0 bg-black bg-opacity-50 z-10 hidden"></div>
